services/myservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://localhost:3000/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        name="ReviewWsdl">
    <!-- Types description -->
    <types>
        <xs:schema
                xmlns:tns="http://schemas.xmlsoap.org/wsdl/"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified"
                targetNamespace="http://localhost:3000/">
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="author" type="xs:string"/>
                        <xs:element name="text" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="author" type="xs:string"/>
                        <xs:element name="text" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <!-- addReview procedure messages -->
    <message name="addReviewRequest">
        <part name="Request" element="tns:Request"/>
    </message>
    <message name="addReviewResponse">
        <part name="Response" element="tns:Response"/>
    </message>
    <!-- Binding of procedure to messages -->
    <portType name="SweetServicePortType">
        <operation name="addReview">
            <input message="tns:addReviewRequest"/>
            <output message="tns:addReviewResponse"/>
        </operation>
    </portType>
    <!-- Service procedures format -->
    <binding name="SweetServiceBinding" type="tns:SweetServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addReview">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <!-- Service definition -->
    <service name="SweetService">
        <port name="SweetServicePort" binding="tns:SweetServiceBinding">
            <soap:address location="http://localhost:3000/wsdl"/>
        </port>
    </service>
</definitions>
