configs/myservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://192.168.0.17:3000/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" name="SmsWsdl">
    <!-- Types description -->
    <types>
        <xs:schema 
            xmlns:tns="http://schemas.xmlsoap.org/wsdl/" 
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified"
            targetNamespace="http://192.168.0.17:3000/">
            <xs:element name="Request">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="x" type="xs:string"/>
                        <xs:element name="y" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sum" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <!-- getPlace procedure messages -->
    <message name="getPlaceRequest">
        <part name="Request" element="tns:Request"/>
    </message>
    <message name="getPlaceResponse">
        <part name="Response" element="tns:Response"/>
    </message>
    <!-- Binding of procedure to messages -->
    <portType name="SweetServicePortType">
        <operation name="getPlace">
            <input message="tns:getPlaceRequest"/>
            <output message="tns:getPlaceResponse"/>
        </operation>
    </portType>
    <!-- Service procedures format -->
    <binding name="SweetServiceBinding" type="tns:SweetServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getPlace">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <!-- Service definition -->
    <service name="SweetService">
        <port name="SweetServicePort" binding="tns:SweetServiceBinding">
            <soap:address location="http://192.168.0.17:3000/wsdl"/>
        </port>
    </service>
</definitions>